@charset "utf-8";
$colorW : #fff;
$colorB : #A49381;
$colorG : #4C6235;
$colorY : #F7E880;
$colorA : #A1BBB2;
$font : #333;
$fontS : #5A5A5A;
@mixin clear{
    &:after{
        content:'';
        display:block;
        clear:both;
    }
}
@mixin title_bg{
    position:relative;
        margin-bottom:200px;
        .title_text{
            width:1300px;
            margin:0 auto;
            color:$colorG;
            font-size:60px;
            text-transform:capitalize;
            height:68px;
            font-weight:800;
        }
        .title_text_bg{
            width:100%;
            height:50px;
            background:$colorG;
        }
}
@mixin m_title_bg{
    margin-bottom:50px;
            .title_text{
                width:100%;
                text-align:center;
            }
            .title_text_bg{
                height:10px;
            }
}
@mixin about_title{
    h2{
        width:80px;
        padding:0 5px;
        position:relative;
        margin-bottom:5px;
        &:before{
            content:'';
            position:absolute;
            width:100%;
            height:8px;
            display:block;
            background:$colorY;
            top:50%;
            left:0;
            transform:translateY(-50%);
            z-index:0;
        }
        span{
            font-size:20px;
            font-weight:900;
            text-transform:uppercase;
            position:relative;
            z-index:90;
        }
    }
}
@mixin colordot{
    width:19px;
    height:19px;
    border-radius:50%;
    display:inline-block;
    // font-size:0;
    text-indent:-9999px;
    margin:5px 5px 0 0;
}
body{
    font:15px/1.5 'Noto Sans KR','Dancing Script', 'Abril Fatface', sans-serif;
    background:$colorW;
    color:$font;
    width:100%;
}
.notext{
    display:none;
}
a, a:link{
    color:inherit;
    text-decoration:none;
}
// header
#go2seul_header{
    #main_nav_wrap{
        position:fixed;
        right:-285px;
        top:0;
        background:$colorY;
        width:300px;
        height:100%;
        z-index:999;
        transition:all 0.4s;
        #nav_img{
            width:150px;
            margin:50px auto;
            text-align:center;
            color:$colorG;
            color:lighten($colorG, 20%);
            font-size:100px;
        }
        #nav_btn{
            width:50px;
            height:50px;
            position:absolute;
            top:50%;
            left:-25px;
            transform:translateY(-50%);
            background:$colorY;
            border-radius:50%;
            div{
                background:$colorW;
                width:20px;
                height:3px;
                border-radius:10px;
                position:absolute;
                left:10px;
                transition:all 0.4s;
            }
            #bar1{
                transform:rotate(-40deg);
                top:18px;
            }
            #bar2{
                bottom:17px;
                transform:rotate(40deg);
            }
            .bar1_on{
                transform:rotate(40deg) !important;
            }
            .bar2_on{
                transform:rotate(-40deg) !important;
            }
        }
        #main_nav{
            // font-family:'Dancing Script';
            color:$colorG;
            >li{
                width:40%;
                height:50px;
                line-height:50px;
                font-size:20px;
                margin:10px auto;
                transition:all 0.5s;
                &:hover a:before{
                    animation:trans_lineL 0.8s;
                    opacity: 1;
                }
                &:hover a:after{
                    animation:trans_lineR 0.8s;
                    opacity: 1;
                }
                @keyframes trans_lineL{
                    0%{
                        opacity:0;
                        left:50%;
                
                    }
                    100%{
                        opacity: 1;
                        left:0;
                    }
                }
                @keyframes trans_lineR{
                    0%{
                        opacity:0;
                        right:50%;
                
                    }
                    100%{
                        opacity: 1;
                        right:0;
                    }
                }
                >a{
                    text-align:center;
                    display:block;
                    width:100%;
                    position:relative;
                    height:100%;
                    text-transform:capitalize;
                    font-weight:900;
                    &:before{
                        position:absolute;
                        content:'[';
                        display:inline-block;
                        left:0;
                        opacity: 0;
                    }
                    &:after{
                        position:absolute;
                        content:']';
                        display:inline-block;
                        right:0;
                        opacity: 0;
                    }
                    // span{
                    //     position:relative;
                    //     z-index:90;
                    // }
                }
            }
        }
        // #yiseul_info{
        //     position:absolute;
        //     bottom:20px;
        //     ul{
        //         li{
        //             color:#ccc;
        //             i{
        //                 margin-right:10px;
        //             }
        //         }
        //     }
        // }
    }
}
.active{
    right:0 !important;
}
#fade_nav{
    width:100%;
    height:100%;
    position:fixed;
    z-index:990;
    display:none;
}
// #home
#home{
    width:100%;
    height:1080px;
    // padding:500px 0;
    box-sizing: border-box;
    position:relative;
    &:before{
        content:'';
        width:65%;
        height:2px;
        background:darken($colorB,40%);;
        left:0;
        position:absolute;
        bottom:30%;
    }
    .home_bg_wrap{
        width:100%;
        height:350px;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        .home_bg{
            overflow:hidden;
            width:100%;
            height:100%;
            font-size:0;
            background:url("../images/home_bg.jpg") no-repeat;
            background-attachment: fixed;
            background-position:center 8%;
            background-size:cover;
        }
        .home_text{
            width:1300px;
            margin:0 auto;
            text-transform:uppercase;
            position:absolute;
            top:-105px;
            left:50%;
            transform:translateX(-50%);
            font:95px/1.1 'Abril Fatface';
            h2{
                color:$colorG;
            }
            h3{
                color:$colorW;
                padding-left:50px;
    
            }
        }
    }
    .home_bottom_text{
        width:1300px;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        bottom:28.5%;
        color:darken($colorB,40%);
        font-family:'Dancing Script';
        p{
            text-align:right;
            font-size:30px;
        }
    }
}
// about
#about{
    width:100%;
    height:1000px;
    .about_title_wrap{
        @include title_bg;
        #about_photo{
            position:absolute;
            left:50%;
            top:-33%;
            transform: translateX(-50%);
            width:330px;
            height:330px;
            img{
                width:260px;
                height:260px;
                border-radius:50%;
                // width:100%;
                overflow: hidden;
                padding:0 35px;
            }
            p{
                text-align:center;
                margin-top:10px;
            }
        }
    }
    .about_box{
        max-width:860px;
        height:450px;
        margin:0 auto;
        padding:50px 0;
        p{
            margin-left:5px;
        }
        @include clear;
        .about_box_left{
            width:50%;
            height:100%;
            float:left;
            #about_profile{
                height:25%;
                @include about_title;
                p{
                    span{
                        font-weight:900;
                        width:100px;
                        display:inline-block;
                    }
                }
            }
            #about_education{
                height:35%;
                padding-top:30px;
                box-sizing: border-box;
                @include about_title;
                h2{
                    width:110px;
                }
                p{
                    span{
                        font-weight:900;
                    }
                }
            }
            #about_license{
                height:40%;
                @include about_title;
                p{
                    span{
                        font-weight:900;
                        margin-right:20px;
                    }
                }
            }
        }
        .about_box_right{
            width:50%;
            height:100%;
            float:left;
            #about_skill{
                width:100%;
                height:100%;
                @include about_title;
                h2{
                    width:50px;
                    margin-bottom:30px;
                }
                #skill_box{
                    >div{
                        margin-bottom:25px;
                        @include clear;
                        >div{
                            font-size:0;
                            width:50px;
                            height:50px;
                            overflow:hidden;
                            background:url("../images/skill_icon.png") no-repeat;
                            background-size:500%;
                            float:left;
                            p{
                                float:left;
                            }
                        }
                        #skill_box2{
                            background-position-x:-50px;
                        }
                        #skill_box3{
                            background-position-x:-100px;
                        }
                        #skill_box4{
                            background-position-x:-150px;
                        }
                        #skill_box5{
                            background-position-x:-200px;
                        }
                    }
                }
            }
        }
    }
}
// portfolio
#portfolio{
    .port_title_wrap{
        @include title_bg;
    }
    .port_contents_wrap{
        width:1300px;
        margin:0 auto;
        >div{
            width:100%;
            margin-bottom:100px;
            .port_img{
                width:600px;
                margin:0 auto;
                p{
                    text-align:center;
                    font-size:50px;
                    text-transform:uppercase;
                    margin:0 0 20px 0;
                    font-weight:900;
                }
            }
            .port_content{
                width:650px;
                margin:0 auto;
                p{
                    color:$fontS;
                    margin-bottom:5px;
                    span{
                        width:90px;
                        display:inline-block;
                        font-weight:bold;
                        color:$font;
                    }
                    @include clear;
                }
                .port_production{
                    letter-spacing: 8px;
                }
                .port_concept, .port_color, .port_info{
                    letter-spacing: 30px;
                }
                .port_info{
                    float:left;
                    font-weight:900;
                }
                .port_info_text{
                    width:500px;
                    float:left;
                    font-weight:100;
                    color:$fontS;
                }
                #harang_color1{
                    @include colordot;
                    background:#666699;
                }
                #harang_color2{
                    @include colordot;
                    background:#8383C7;
                }
                #harang_color3{
                    @include colordot;
                    background:#999;
                }
                #insta_color1{
                    @include colordot;
                    background:#fafafa;
                    box-sizing:border-box;
                    border:1px solid $font;
                }
                #insta_color2{
                    @include colordot;
                    background:#dbdbdb;
                }
                #insta_color3{
                    @include colordot;
                    background:#0095f6;
                }
                #yuhanrox_color1{
                    @include colordot;
                    background:#3eaaf5;
                }
                #yuhanrox_color2{
                    @include colordot;
                    background:#fff;
                    box-sizing:border-box;
                    border:1px solid $font;
                }
                #yuhanrox_color3{
                    @include colordot;
                    background:#555;
                }
                #port_info_wrap{
                    >ul{
                        color:$fontS;
                        margin-left:90px;
                        >li{
                            margin-bottom:10px;
                        }
                    }
                    .port_info_list{
                        margin-left:10px;
                        li{
                            &:before{
                                content:'-';
                                display:inline-block;

                            }
                        }
                    }
                }
            }
            .button{
                text-align:center;
                margin-top:30px;
                a{
                    margin:0 auto;
                    display:block;
                    width:200px;
                    height:30px;
                    color:$colorG;
                    border:1px solid $colorG;
                    border-radius:30px;
                    line-height:30px;
                    transition:all 0.3s;
                    &:hover{
                        background:$colorY;
                    }
                }
            }
            #insta_btn, #yuhanrox_btn{
                @include  clear;
                a{
                    display:inline-block;
                    &:nth-child(1){
                        margin-right:10px;
                    }
                }
            }
        }
    }
}
// design
#design{
    width:100%;
    .design_title_wrap{
        @include title_bg;
    }
    .design_list{
        width:1300px;
        margin:0 auto;
        @include clear;
        >div{
            width:252px;
            height:252px;
            float:left;
            box-sizing:border-box;
            border:3px solid $colorG;
            margin-right:10px;
            margin-bottom:10px;
            overflow:hidden;
            &:nth-of-type(5n){
                margin-right:0;
            }
            >div{
                filter: grayscale(100%);
                transition:all 0.3s;
                &:hover{
                    filter: none;
                    transform:scale(1.1);
                }
                img{
                    width:100%;
                }
            }
        }
    }
}
// contact
#contact{
    width:100%;
    margin:300px 0;
    .contact_title{
        width:1300px;
        margin:0 auto;
        height:108px;
        h2{
            color:$colorA;
            font:120px/1.1 'Abril Fatface';
            text-transform:capitalize;
        }
    }
    .contact_bg{
        width:100%;
        height:350px;
        background:url("../images/contact_bg.jpg") no-repeat;
        background-attachment: fixed;
        background-position:center 94%;
        background-size:100%;
        .contact_info_wrap{
            position:relative;
            padding:60px 0 0 0;
            #contact_info_bg{
                width:850px;
                height:220px;
                background:rgba(0,0,0,.5);
                transform:rotate(-15deg);
                margin:0 auto;
            }
            #contact_info{
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                color:$colorW;
                font-size:20px;
                padding-top:70px;
                li{
                    margin:0px 0 5px 0;
                    i{
                        margin-right:10px;
                        width:30px;
                        text-align:center;
                    }
                }
            }
        }
    }
    .contact_bottom_text{
        width:1300px;
        margin:0 auto;
        font-family:'Dancing Script';
        h2{
            text-align:right;
            color:$colorB;
            font-size:40px;
        }
    }
}
// design sub page
#design_visual{
    width:100%;
    position:relative;
    .design_visual_img{
        width:100%;
        img{
            width:100%;
        }
    }
    .design_visual_text{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        h2{
            font:150px 'Abril Fatface';
            color:$colorW;
            letter-spacing:3px;
        }
    }
}
#design_contents{
    width:1300px;
    margin:150px auto;
    div{
        text-align:center;
    }
    .img_size{
        img{
            width:100%;
        }
    }
}
#line{
    width:100%;
    border-top:1px solid #ccc;
    font-size:0;
    margin:10px 0;
}
// mobile
@media screen and (max-width:500px){
    html, body{
        width:100%;
    }
    #home, #about, #portfolio, #contact{
        width:100%;
        overflow:hidden;
    }
    #go2seul_header{
        #main_nav_wrap{
            width:200px;
            right:-190px;
            #main_nav{
                li{
                    a{
                        padding:0 10px;
                    }
                }
            }
        }
    }
    #home{
        height:640px;
        &:before{
            bottom:18.5%;
            width:41%;
            height:1px;
        }
        .home_bg_wrap{
            .home_bg{
                background-position-y:142px;
            }
            .home_text{
                width:100%;
                font-size:60px;
                top:-68px;
                h2{
                    margin-left:20px;
                }
            }
        }
        .home_bottom_text{
            width:100%;
            bottom:17%;
            p{
                font-size:20px;
                margin-right:20px;
            }
        }
    }
    #about{
        height:auto;
        .about_title_wrap{
            @include m_title_bg;
            #about_photo{
                position:static;
                width:300px;
                height:300px;
                margin:50px auto 0;
                transform:none;
                img{
                    width:70%;
                    padding:0 15%;
                    height:70%;
                }
            }
        }
        .about_box{
            width:100%;
            height:auto;
            box-sizing:border-box;
            padding:0 20px;
            .about_box_left{
                width:100%;
                float:none;
                >div{
                    margin-bottom:40px;
                }
                #about_education{
                    padding:0;
                }
            }
            .about_box_right{
                width:100%;
                float:none;
                #about_skill{
                    h2{
                        margin-bottom:5px;
                    }
                }
            }
        }
    }
    #portfolio{
        // display:none;
        .port_title_wrap{
            @include m_title_bg;
        }
        .port_contents_wrap{
            width:100%;
            div{
                .port_img{
                    width:100%;
                    img{
                        width:90%;
                        margin:0 5%;
                    }
                    p{
                        font-size:30px;
                    }
                }
                .port_content{
                    width:100%;
                    padding:0 20px;
                    box-sizing:border-box;
                    .port_info_text{
                        width:260px;
                    }
                }
                .button{
                    a{
                        width:180px;
                    }
                }
            }
        }
    }
    #design{
        .design_title_wrap{
            @include m_title_bg;
        }
        .design_list{
            width:360px;
            >div{
                width:80px;
                height:80px;
                border:1px solid $colorG;
                &:nth-of-type(5n){
                    margin-right:10px;
                }
            }
        }
    }
    #contact{
        margin:100px 0;
        .contact_title{
            width:100%;
            height:81px;
            h2{
                font-size:90px;
                text-align:center;
                color:#0b3155;
            }
        }
        .contact_bg{
            background-position-y:bottom;
            background-size:190%;
            .contact_info_wrap{
                #contact_info_bg{
                    width:70%;
                }
                #contact_info{
                    font-size:1rem;
                    width:55%;
                }
            }
        }
        .contact_bottom_text{
            width:100%;
            h2{
                margin-right:20px;
                font-size:30px;
            }
        }
    }
    #design_visual{
        .design_visual_text{
            h2{
                font-size:50px;
                letter-spacing:3px;
            }
        }
    }
    #design_contents{
        width:100%;
        margin:20px auto;
        div{
            img{
                width:100%;
            }
        }
    }
}
//1024px
@media screen and (min-width:500px) and (max-width:1024px){
    #home{
        height:800px;
        &:before{
            bottom:24%;
            width:63%;
        }
        .home_bg_wrap{
            .home_bg{
                background-position-y:144px;
            }
        }
        .home_bottom_text{
            bottom:22%;
        }
    }
    #contact{
        margin:150px 0;
    }
    #design_contents{
        width:1000px;
        margin:100px auto;
        // img{
        //     width:100%;
        // }
    }
    #design{
        .design_title_wrap{
            margin-bottom:100px;
        }
        .design_list{
            width:1000px;
            >div{
                width:240px;
                height:240px;
                &:nth-of-type(5n){
                    margin-right:10px;
                }
            }
        }
    }
}
// 1200px
@media screen and (min-width:500px) and (max-width:1200px){
    #home{
        height:900px;
        &:before{
            bottom:27.5%;
        }
        .home_bg_wrap{
            .home_bg{
                background-position-y:165px;
            }
            .home_text{
                width:100%;
                padding-left:50px;
                box-sizing:border-box;
            }
        }
        .home_bottom_text{
            width:100%;
            padding-right:50px;
            bottom:25.5%;
            box-sizing:border-box;
        }
    }
    #about{
        .about_title_wrap{
            .title_text{
                width:100%;
                padding-left:50px;
                box-sizing:border-box;
            }
        }
    }
    #portfolio{
        .port_title_wrap{
            .title_text{
                width:100%;
                padding-left:50px;
                box-sizing:border-box;
            }
        }
        .port_contents_wrap{
            width:100%;
        }
    }
    #contact{
        margin:200px 0;
        .contact_title{
            width:100%;
            padding-left:50px;
            box-sizing:border-box;
        }
        .contact_bottom_text{
            width:100%;
            padding-right:50px;
            box-sizing:border-box;
        }
    }
    #design_contents{
        width:1100px;
        margin:100px auto;
        // img{
        //     width:100%;
        // }
    }
    #design{
        .design_list{
            width:1000px;
            >div{
                width:240px;
                height:240px;
                &:nth-of-type(5n){
                    margin-right:10px;
                }
            }
        }
    }
    #design_visual{
        .design_visual_text{
            h2{
                font-size:80px;
            }
        }
    }
}
// 1440px
@media screen and (min-width:1200px) and (max-width:1440px){
    #home{
        height:900px;
        &:before{
            bottom:27.5%;
            width:71%;
            height:1px;
        }
        .home_bg_wrap{
            .home_bg{
                background-position-y:80px;
            }
        }
        .home_bottom_text{
            bottom:25.5%;
        }
    }
    #contact{
        margin:180px 0;
        .contact_bg{
            background-position: center 105%;
        }
    }
}
