body {
  font: 15px/1.5 'Noto Sans KR','Dancing Script', 'Abril Fatface', sans-serif;
  background: #fff;
  color: #333;
  width: 100%;
}

.notext {
  display: none;
}

a, a:link {
  color: inherit;
  text-decoration: none;
}

#go2seul_header #main_nav_wrap {
  position: fixed;
  right: -285px;
  top: 0;
  background: #F7E880;
  width: 300px;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#go2seul_header #main_nav_wrap #nav_img {
  width: 150px;
  margin: 50px auto;
  text-align: center;
  color: #4C6235;
  color: #7fa459;
  font-size: 100px;
}

#go2seul_header #main_nav_wrap #nav_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #F7E880;
  border-radius: 50%;
}

#go2seul_header #main_nav_wrap #nav_btn div {
  background: #fff;
  width: 20px;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#go2seul_header #main_nav_wrap #nav_btn #bar1 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  top: 18px;
}

#go2seul_header #main_nav_wrap #nav_btn #bar2 {
  bottom: 17px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

#go2seul_header #main_nav_wrap #nav_btn .bar1_on {
  -webkit-transform: rotate(40deg) !important;
          transform: rotate(40deg) !important;
}

#go2seul_header #main_nav_wrap #nav_btn .bar2_on {
  -webkit-transform: rotate(-40deg) !important;
          transform: rotate(-40deg) !important;
}

#go2seul_header #main_nav_wrap #main_nav {
  color: #4C6235;
}

#go2seul_header #main_nav_wrap #main_nav > li {
  width: 40%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin: 10px auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#go2seul_header #main_nav_wrap #main_nav > li:hover a:before {
  -webkit-animation: trans_lineL 0.8s;
          animation: trans_lineL 0.8s;
  opacity: 1;
}

#go2seul_header #main_nav_wrap #main_nav > li:hover a:after {
  -webkit-animation: trans_lineR 0.8s;
          animation: trans_lineR 0.8s;
  opacity: 1;
}

@-webkit-keyframes trans_lineL {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes trans_lineL {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes trans_lineR {
  0% {
    opacity: 0;
    right: 50%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes trans_lineR {
  0% {
    opacity: 0;
    right: 50%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

#go2seul_header #main_nav_wrap #main_nav > li > a {
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  text-transform: capitalize;
  font-weight: 900;
}

#go2seul_header #main_nav_wrap #main_nav > li > a:before {
  position: absolute;
  content: '[';
  display: inline-block;
  left: 0;
  opacity: 0;
}

#go2seul_header #main_nav_wrap #main_nav > li > a:after {
  position: absolute;
  content: ']';
  display: inline-block;
  right: 0;
  opacity: 0;
}

#go2seul_header #main_nav_wrap #main_nav > li > a span {
  position: relative;
  z-index: 90;
}

#go2seul_header #main_nav_wrap #main_nav > li .nav_ond {
  background: #F7E880;
  width: 100%;
  height: 10px;
  display: block;
  margin: 17px 0;
}

.active {
  right: 0 !important;
}

#home {
  width: 100%;
  height: 1080px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#home:before {
  content: '';
  width: 65%;
  height: 2px;
  background: #342d25;
  left: 0;
  position: absolute;
  bottom: 30%;
}

#home .home_bg_wrap {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#home .home_bg_wrap .home_bg {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 0;
  background: url("../images/home_bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center 8%;
  background-size: cover;
}

#home .home_bg_wrap .home_text {
  width: 1300px;
  margin: 0 auto;
  text-transform: uppercase;
  position: absolute;
  top: -105px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font: 95px/1.1 'Abril Fatface';
}

#home .home_bg_wrap .home_text h2 {
  color: #4C6235;
}

#home .home_bg_wrap .home_text h3 {
  color: #fff;
  padding-left: 50px;
}

#home .home_bottom_text {
  width: 1300px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 28.5%;
  color: #342d25;
  font-family: 'Dancing Script';
}

#home .home_bottom_text p {
  text-align: right;
  font-size: 30px;
}

#about {
  width: 100%;
  height: 1000px;
}

#about .about_title_wrap {
  position: relative;
  margin-bottom: 200px;
}

#about .about_title_wrap .title_text {
  width: 1300px;
  margin: 0 auto;
  color: #4C6235;
  font-size: 60px;
  text-transform: capitalize;
  height: 68px;
  font-weight: 800;
}

#about .about_title_wrap .title_text_bg {
  width: 100%;
  height: 50px;
  background: #4C6235;
}

#about .about_title_wrap #about_photo {
  position: absolute;
  left: 50%;
  top: -33%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 330px;
  height: 330px;
}

#about .about_title_wrap #about_photo img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0 35px;
}

#about .about_title_wrap #about_photo p {
  text-align: center;
  margin-top: 10px;
}

#about .about_box {
  max-width: 860px;
  height: 450px;
  margin: 0 auto;
  padding: 50px 0;
}

#about .about_box p {
  margin-left: 5px;
}

#about .about_box:after {
  content: '';
  display: block;
  clear: both;
}

#about .about_box .about_box_left {
  width: 50%;
  height: 100%;
  float: left;
}

#about .about_box .about_box_left #about_profile {
  height: 25%;
}

#about .about_box .about_box_left #about_profile h2 {
  width: 80px;
  padding: 0 5px;
  position: relative;
  margin-bottom: 5px;
}

#about .about_box .about_box_left #about_profile h2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  display: block;
  background: #F7E880;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

#about .about_box .about_box_left #about_profile h2 span {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 90;
}

#about .about_box .about_box_left #about_profile p span {
  font-weight: 900;
  width: 100px;
  display: inline-block;
}

#about .about_box .about_box_left #about_education {
  height: 35%;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about .about_box .about_box_left #about_education h2 {
  width: 80px;
  padding: 0 5px;
  position: relative;
  margin-bottom: 5px;
}

#about .about_box .about_box_left #about_education h2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  display: block;
  background: #F7E880;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

#about .about_box .about_box_left #about_education h2 span {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 90;
}

#about .about_box .about_box_left #about_education h2 {
  width: 110px;
}

#about .about_box .about_box_left #about_education p span {
  font-weight: 900;
}

#about .about_box .about_box_left #about_license {
  height: 40%;
}

#about .about_box .about_box_left #about_license h2 {
  width: 80px;
  padding: 0 5px;
  position: relative;
  margin-bottom: 5px;
}

#about .about_box .about_box_left #about_license h2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  display: block;
  background: #F7E880;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

#about .about_box .about_box_left #about_license h2 span {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 90;
}

#about .about_box .about_box_left #about_license p span {
  font-weight: 900;
  margin-right: 20px;
}

#about .about_box .about_box_right {
  width: 50%;
  height: 100%;
  float: left;
}

#about .about_box .about_box_right #about_skill {
  width: 100%;
  height: 100%;
}

#about .about_box .about_box_right #about_skill h2 {
  width: 80px;
  padding: 0 5px;
  position: relative;
  margin-bottom: 5px;
}

#about .about_box .about_box_right #about_skill h2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  display: block;
  background: #F7E880;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

#about .about_box .about_box_right #about_skill h2 span {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 90;
}

#about .about_box .about_box_right #about_skill h2 {
  width: 50px;
  margin-bottom: 30px;
}

#about .about_box .about_box_right #about_skill #skill_box > div {
  margin-bottom: 25px;
}

#about .about_box .about_box_right #about_skill #skill_box > div:after {
  content: '';
  display: block;
  clear: both;
}

#about .about_box .about_box_right #about_skill #skill_box > div > div {
  font-size: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: url("../images/skill_icon.png") no-repeat;
  background-size: 500%;
  float: left;
}

#about .about_box .about_box_right #about_skill #skill_box > div > div p {
  float: left;
}

#about .about_box .about_box_right #about_skill #skill_box > div #skill_box2 {
  background-position-x: -50px;
}

#about .about_box .about_box_right #about_skill #skill_box > div #skill_box3 {
  background-position-x: -100px;
}

#about .about_box .about_box_right #about_skill #skill_box > div #skill_box4 {
  background-position-x: -150px;
}

#about .about_box .about_box_right #about_skill #skill_box > div #skill_box5 {
  background-position-x: -200px;
}

#portfolio .port_title_wrap {
  position: relative;
  margin-bottom: 200px;
}

#portfolio .port_title_wrap .title_text {
  width: 1300px;
  margin: 0 auto;
  color: #4C6235;
  font-size: 60px;
  text-transform: capitalize;
  height: 68px;
  font-weight: 800;
}

#portfolio .port_title_wrap .title_text_bg {
  width: 100%;
  height: 50px;
  background: #4C6235;
}

#portfolio .port_contents_wrap {
  width: 1300px;
  margin: 0 auto;
}

#portfolio .port_contents_wrap > div {
  width: 100%;
  margin-bottom: 100px;
}

#portfolio .port_contents_wrap > div .port_img {
  width: 600px;
  margin: 0 auto;
}

#portfolio .port_contents_wrap > div .port_img p {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 900;
}

#portfolio .port_contents_wrap > div .port_content {
  width: 650px;
  margin: 0 auto;
}

#portfolio .port_contents_wrap > div .port_content p {
  color: #5A5A5A;
  margin-bottom: 5px;
}

#portfolio .port_contents_wrap > div .port_content p span {
  width: 90px;
  display: inline-block;
  font-weight: bold;
  color: #333;
}

#portfolio .port_contents_wrap > div .port_content p:after {
  content: '';
  display: block;
  clear: both;
}

#portfolio .port_contents_wrap > div .port_content .port_production {
  letter-spacing: 8px;
}

#portfolio .port_contents_wrap > div .port_content .port_concept, #portfolio .port_contents_wrap > div .port_content .port_color, #portfolio .port_contents_wrap > div .port_content .port_info {
  letter-spacing: 30px;
}

#portfolio .port_contents_wrap > div .port_content .port_info {
  float: left;
}

#portfolio .port_contents_wrap > div .port_content .port_info_text {
  width: 500px;
  float: left;
  font-weight: 100;
  color: #5A5A5A;
}

#portfolio .port_contents_wrap > div .port_content #harang_color1 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #666699;
}

#portfolio .port_contents_wrap > div .port_content #harang_color2 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #8383C7;
}

#portfolio .port_contents_wrap > div .port_content #harang_color3 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #999;
}

#portfolio .port_contents_wrap > div .port_content #insta_color1 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #333;
}

#portfolio .port_contents_wrap > div .port_content #insta_color2 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #dbdbdb;
}

#portfolio .port_contents_wrap > div .port_content #insta_color3 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #0095f6;
}

#portfolio .port_contents_wrap > div .port_content #yuhanrox_color1 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #3eaaf5;
}

#portfolio .port_contents_wrap > div .port_content #yuhanrox_color2 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #333;
}

#portfolio .port_contents_wrap > div .port_content #yuhanrox_color3 {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin: 5px 5px 0 0;
  background: #555;
}

#portfolio .port_contents_wrap > div .port_content #port_info_wrap > ul {
  color: #5A5A5A;
  margin-left: 90px;
}

#portfolio .port_contents_wrap > div .port_content #port_info_wrap > ul > li {
  margin-bottom: 10px;
}

#portfolio .port_contents_wrap > div .port_content #port_info_wrap .port_info_list {
  margin-left: 10px;
}

#portfolio .port_contents_wrap > div .port_content #port_info_wrap .port_info_list li:before {
  content: '-';
  display: inline-block;
}

#portfolio .port_contents_wrap > div .button {
  text-align: center;
  margin-top: 30px;
}

#portfolio .port_contents_wrap > div .button a {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 30px;
  color: #4C6235;
  border: 1px solid #4C6235;
  border-radius: 30px;
  line-height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#portfolio .port_contents_wrap > div .button a:hover {
  background: #F7E880;
}

#portfolio .port_contents_wrap > div #insta_btn:after, #portfolio .port_contents_wrap > div #yuhanrox_btn:after {
  content: '';
  display: block;
  clear: both;
}

#portfolio .port_contents_wrap > div #insta_btn a, #portfolio .port_contents_wrap > div #yuhanrox_btn a {
  display: inline-block;
}

#portfolio .port_contents_wrap > div #insta_btn a:nth-child(1), #portfolio .port_contents_wrap > div #yuhanrox_btn a:nth-child(1) {
  margin-right: 10px;
}

#contact {
  width: 100%;
  margin: 300px 0;
}

#contact .contact_title {
  width: 1300px;
  margin: 0 auto;
  height: 108px;
}

#contact .contact_title h2 {
  color: #A1BBB2;
  font: 120px/1.1 'Abril Fatface';
  text-transform: capitalize;
}

#contact .contact_bg {
  width: 100%;
  height: 350px;
  background: url("../images/contact_bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center 94%;
  background-size: 100%;
}

#contact .contact_bg .contact_info_wrap {
  position: relative;
  padding: 60px 0 0 0;
}

#contact .contact_bg .contact_info_wrap #contact_info_bg {
  width: 850px;
  height: 220px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  margin: 0 auto;
}

#contact .contact_bg .contact_info_wrap #contact_info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  padding-top: 70px;
}

#contact .contact_bg .contact_info_wrap #contact_info li {
  margin: 0px 0 5px 0;
}

#contact .contact_bg .contact_info_wrap #contact_info li i {
  margin-right: 10px;
  width: 30px;
  text-align: center;
}

#contact .contact_bottom_text {
  width: 1300px;
  margin: 0 auto;
  font-family: 'Dancing Script';
}

#contact .contact_bottom_text h2 {
  text-align: right;
  color: #A49381;
  font-size: 40px;
}

@media screen and (max-width: 500px) {
  html, body {
    width: 100%;
  }
  #home, #about, #portfolio, #contact {
    width: 100%;
    overflow: hidden;
  }
  #home {
    height: 100vh;
  }
  #home:before {
    bottom: 18.5%;
    width: 41%;
    height: 1px;
  }
  #home .home_bg_wrap .home_bg {
    background-position-y: 142px;
  }
  #home .home_bg_wrap .home_text {
    width: 100%;
    font-size: 60px;
    top: -68px;
  }
  #home .home_bg_wrap .home_text h2 {
    margin-left: 20px;
  }
  #home .home_bottom_text {
    width: 100%;
    bottom: 17%;
  }
  #home .home_bottom_text p {
    font-size: 20px;
    margin-right: 20px;
  }
  #about {
    height: auto;
  }
  #about .about_title_wrap {
    margin-bottom: 50px;
  }
  #about .about_title_wrap .title_text {
    width: 100%;
    text-align: center;
  }
  #about .about_title_wrap .title_text_bg {
    height: 10px;
  }
  #about .about_title_wrap #about_photo {
    position: static;
    width: 300px;
    height: 300px;
    margin: 50px auto 0;
    -webkit-transform: none;
            transform: none;
  }
  #about .about_title_wrap #about_photo img {
    width: 70%;
    padding: 0 15%;
    height: 70%;
  }
  #about .about_box {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  #about .about_box .about_box_left {
    width: 100%;
    float: none;
  }
  #about .about_box .about_box_left > div {
    margin-bottom: 40px;
  }
  #about .about_box .about_box_left #about_education {
    padding: 0;
  }
  #about .about_box .about_box_right {
    width: 100%;
    float: none;
  }
  #about .about_box .about_box_right #about_skill h2 {
    margin-bottom: 5px;
  }
  #portfolio .port_title_wrap {
    margin-bottom: 50px;
  }
  #portfolio .port_title_wrap .title_text {
    width: 100%;
    text-align: center;
  }
  #portfolio .port_title_wrap .title_text_bg {
    height: 10px;
  }
  #portfolio .port_contents_wrap {
    width: 100%;
  }
  #portfolio .port_contents_wrap div .port_img {
    width: 100%;
  }
  #portfolio .port_contents_wrap div .port_img img {
    width: 90%;
    margin: 0 5%;
  }
  #portfolio .port_contents_wrap div .port_img p {
    font-size: 30px;
  }
  #portfolio .port_contents_wrap div .port_content {
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #portfolio .port_contents_wrap div .port_content .port_info_text {
    width: 300px;
  }
  #portfolio .port_contents_wrap div .button a {
    width: 180px;
  }
  #contact {
    margin: 100px 0;
  }
  #contact .contact_title {
    width: 100%;
    height: 81px;
  }
  #contact .contact_title h2 {
    font-size: 90px;
    text-align: center;
  }
  #contact .contact_bg {
    background-position-y: 150%;
    background-size: 220%;
  }
  #contact .contact_bg .contact_info_wrap #contact_info_bg {
    width: 70%;
  }
  #contact .contact_bg .contact_info_wrap #contact_info {
    font-size: 1rem;
    width: 55%;
  }
  #contact .contact_bottom_text {
    width: 100%;
  }
  #contact .contact_bottom_text h2 {
    margin-right: 20px;
    font-size: 30px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
  #home {
    height: 800px;
  }
  #home:before {
    bottom: 24%;
    width: 63%;
  }
  #home .home_bg_wrap .home_bg {
    background-position-y: 144px;
  }
  #home .home_bottom_text {
    bottom: 22%;
  }
  #contact {
    margin: 150px 0;
  }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  #home {
    height: 900px;
  }
  #home:before {
    bottom: 27.5%;
  }
  #home .home_bg_wrap .home_bg {
    background-position-y: 165px;
  }
  #home .home_bg_wrap .home_text {
    width: 100%;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #home .home_bottom_text {
    width: 100%;
    padding-right: 50px;
    bottom: 25.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #about .about_title_wrap .title_text {
    width: 100%;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #portfolio .port_title_wrap .title_text {
    width: 100%;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #portfolio .port_contents_wrap {
    width: 100%;
  }
  #contact {
    margin: 200px 0;
  }
  #contact .contact_title {
    width: 100%;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #contact .contact_bottom_text {
    width: 100%;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  #home {
    height: 900px;
  }
  #home:before {
    bottom: 27.5%;
    width: 71%;
    height: 1px;
  }
  #home .home_bg_wrap .home_bg {
    background-position-y: 80px;
  }
  #home .home_bottom_text {
    bottom: 25.5%;
  }
  #contact {
    margin: 180px 0;
  }
  #contact .contact_bg {
    background-position: center 105%;
  }
}
/*# sourceMappingURL=main.css.map */